<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>People's Academy 📚</title>

    <link rel="icon" href="../static/images/icon.png">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
</head>

<body>

    {% include "includes/nav.html" %}

    <main role="main" class="container">

        {% if session['username'] %}
        <span class="user">Welcome, {{ session['username'] }}</span>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        <!-- Here is the dynamic content goes here -->
        {% endblock %}

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
    </script>

    <script>
        const JWTS_LOCAL_KEY = 'JWTS_LOCAL_KEY';
        const JWTS_ACTIVE_INDEX_KEY = 'JWTS_ACTIVE_INDEX_KEY'
        if (window.location.hash) {
            // Fragment exists
            const fragment = window.location.hash.substr(1).split('&')[0].split('=');

            // check if the fragment includes the access token
            if (fragment[0] === 'access_token') {
                // add the access token to the jwt
                this.token = fragment[1];
                localStorage.setItem(JWTS_LOCAL_KEY, this.token)
            }
        }
    </script>
</body>

</html>